*{
    margin: 0%;
    padding: 0%;
}

.imagemVertical {
    width: 60%;
    height: 90%;
    border: 4px solid #002008;
    border-radius: .5%;
}

.imagemHorizontal {
    width: 90%;
    height: 60%;
    border: 4px solid #002008;
    border-radius: .5%;
}