* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f7eee1;
}

#Menu {
    background-color: #FF946E;
}

#Logo {
    background-color: #A60303;
    padding-top: 5px;
    text-align: center;
}

#promocoes {
    margin: 2% 10%;
}

#menuItens > li {
    border-bottom: 2px solid #FF946E !important;
    margin: 5px 0px;
    padding: 2px 0px;
    list-style-type: none;
    text-align: center;
    display: none;
}

.slide-controller:nth-child(1):checked ~ .listaSlides{--imagem-selecionada: 0;}
.slide-controller:nth-child(2):checked ~ .listaSlides{--imagem-selecionada: 1;}
.slide-controller:nth-child(3):checked ~ .listaSlides{--imagem-selecionada: 2;}

.carrossel {
    padding: 5px;
    overflow: hidden;
    text-align: center;
}

.listaSlides {
    --imagens-totais: 3;
    --imagem-selecionada: 0;

    list-style-type: none;
    margin: 10px 0;
    padding: 0;

    position: relative;
    left: calc(var(--imagem-selecionada) * -100%);

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    width: calc(var(--imagens-totais) * 100%);
    transition: left 0.6s ease-in-out;
}

.figura {
    box-shadow: 0px 0px 30px #590202;
}

.receita {
    display: inline-flex;
    overflow: hidden;
    overflow-x: auto;
    width: 76vw;
}

.pre-receita {
    margin: 5%;
    width: 100%;
    height: 80%;

    border: 2px solid black;
    border-radius: 15px 15px;
    background-color: white;
}

.picture {
    margin: 5px;
}

.descricao {
    text-align: center;
    background-color: #ecd2ae;
    border-radius: 15px;
    padding: 5px;
}

#temporizador {
    width: 25px;
    height: 25px;
    margin: 5px 0px;
}