* {
    margin: 0px;
    padding: 0px;
}

#Menu {
    background-color: #CC7758;
}

#Logo {
    background-color: #FF946E;
    padding-top: 5px;
    text-align: center;
}

#menuItens > li {
    border-bottom: 2px solid #FF946E !important;
    margin: 5px 0px;
    padding: 2px 0px;
    list-style-type: none;
    text-align: center;
}

.badge-base{
    display: inline-block;
}

.slide-controller:nth-child(1):checked ~ .listaSlides{--imagem-selecionada: 0;}
.slide-controller:nth-child(2):checked ~ .listaSlides{--imagem-selecionada: 1;}
.slide-controller:nth-child(3):checked ~ .listaSlides{--imagem-selecionada: 2;}

.carrossel {
    overflow: hidden;
    text-align: center;
}

.listaSlides {
    --imagens-totais: 3;
    --imagem-selecionada: 0;

    list-style-type: none;
    margin: 10px 0;
    padding: 0;

    position: relative;
    left: calc(var(--imagem-selecionada) * -100%);

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    width: calc(var(--imagens-totais) * 100%);
    transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}